$light-clr-bg: #fcfcfc;
$light-clr-bg-alt: #fff;
$light-clr-fg: #555;
$light-clr-fg-alt: #444;
$light-clr-primary: #2978b5;
$light-clr-danger: #f64749;
$light-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$dark-clr-bg: #23283e;
$dark-clr-bg-alt: #2a2f4c;
$dark-clr-fg: #bdbddd;
$dark-clr-fg-alt: #cdcdff;
$dark-clr-primary: #90a0d9;
$dark-clr-danger: #f64749;
$dark-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
